<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Users and Interest</title>
</head>

<body>
  <h1>Users & Interest Program</h1>
  
  <%= yield %>

  <p>There are <%= @num_of_users %> users with a total of <%= count_interests %> interests.</p>
  <p><a href="/">Home</a></p>
</body>
</html>